.resultcontainer {
    flex-grow: 1;
    width: 60%;
    padding: 40px;

    display: column;
    flex-direction: row;
}
.resultheader {
    display: flex;
    flex-direction: row;
    background-color: rgb(223, 223, 223);
    border-radius: 10px;
}
.resultheader span {
    padding: 0px 20px;
    align-self: center;
}


.resultcontainer img {
    width: 200px;
    height: 200px;
    margin: 20px;
}
.resultcontainer .resultbuttons {
    display: flex;
    align-self: flex-end;
    justify-content: flex-end;
    flex-grow: 1;
    margin: 20px 0px;
}
.error {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}