.resultcontainer {
    flex-grow: 1;
    width: 60%;
    padding: 20px;

    display: column;
    flex-direction: row;
    overflow-y: auto;
}


.resultheader {
    display: flex;
    flex-direction: row;
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid rgba(128, 128, 128, 0.356);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.048);

}

.resultheader span {
    padding: 0px 20px;
    align-self: center;
}


.resultcontainer img {
    border-radius: 10px;

    width: 200px;
    height: 200px;
    margin: 20px;
}

.resultcontainer .resultbuttons {
    display: flex;
    align-self: flex-end;
    justify-content: flex-end;
    flex-grow: 1;
    margin: 20px 0px;
}

.repocard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:  15px;
    margin-top: 5px;
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid rgba(128, 128, 128, 0.356);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.048);

}

.repocard a {
    text-decoration: none;
    color: black;
}
.repocard button {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.568);
}
.error {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 700px) {
    .resultcontainer {
        flex-grow: 4;
        width: 100%;
        padding: 20px;

        display: flex;
        flex-direction: column;
        overflow-y: auto;
    }

    .resultheader {
        flex-direction: column;
        align-items: center;

    }

    .resultcontainer img {
        border-radius: 999px;

    }

    .repocard {

        background-color: transparent;
        border-radius: 10px;
        border: 1px solid rgba(128, 128, 128, 0.356);
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.048);
    }


}