.asideform {
    z-index: 99;
    background-color: #f1f1f1;
    min-width: 30%;
    flex-grow: 1;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.24);
    padding: 100px 40px;

    display: flex;
    flex-direction: column;
    text-align: center;

    transition: ease-in-out 0.5s;
}

.asideform img {
    width: 100px;
}
.asideform img:hover {
    transform: scale(1.2);
    transition: ease-in 0.5s;
}
.asideform input, button {
    padding:10px;
    border-radius: 10px;
    border: 1px solid grey;
    background-color: rgb(255, 255, 255);
}
.asideform button {
    background-color: #121212;
    margin: 5px;
    color: white;
}
.asideform button:hover {
    cursor: pointer;
}
.asideform span {
    display: flex;
    flex-direction: row;
}
.helptext {
    color:rgb(58, 58, 58);
    font-size: 14px;
}

@media only screen and (max-width: 700px) {
    .asideform {
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .asideform input {
        height: 100%;
        margin: 5px;
        flex-grow: 1;

    }

    .asideform button {
        flex-grow: 1;
    }
    .asideform img {
        width: 40px;
        height: 40px;
    }

    
    .asideform hr{
        display: none;
    }
    form {
        display: flex;
        padding:  10px;
        flex-direction: row;
        flex-wrap: wrap;
    }
    h1 {
        font-size: 100%;
        margin: 10px;
    }
  
  }
